* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    background-color: #E0E0E0;
}


header {
    background-color: #515863;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 100px;
    width: auto;
    margin-left: 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

input[type="text"] {
    margin-left: 20px;
    padding: 5px;
}

.contact-button {
    background-color: #F9B60A;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
}

.language-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #ff9800;
    text-decoration: none;
    margin: 0 10px;
}

.fullWidthPhotos {
    width: 100%;
    height: auto;
}

#genikoiIMG {
    grid-area: gen;
    margin: 20px;
    background-color: white;
}

#eidikoiIMG {
    grid-area: eid;
    margin: 20px;
    background-color: white;
    width: 95%;
}

.halfWidthPhotos {
    width: 50%;
    height: auto;
}

main {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "h11 h11 "
        "gen arti1"
        "arti2 eid";
}

h1 {
    grid-area: h11;
    text-align: center;
    margin-top: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}

h2 {
    text-align: center;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#arti1 {
    grid-area: arti1;
    margin: 20px;
    padding: 20px;
    text-align: justify;
    background-color: white;
}

#arti2 {
    grid-area: arti2;
    margin: 20px;
    padding: 20px;
    width: 100%;
    background-color: white;
}

main ul {
    padding: 3px 20px;
}

main ul li {
    padding: 3px;
}